@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"); */

.headline {
    font-family: "Oswald", sans-serif;
    font-weight: 800;
}


#banner {
    width: 100%;
    background-image: url(../../banner/banner.jpg),linear-gradient( rgba(15, 15, 15, 0.28), rgba(50, 47, 47, 0.035));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    top: 0%;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    height: auto;
    background-color: black;
    color: lightgray;
    color: var(--color-w);
    z-index: 99;
    margin-top: 0;
}
.up{
    padding-top: 200px;
}
